<footer>
    <div id="contacto" class="seccion">
        <div class="container">
            <div class="footer-content">
                <h2 class="titulocontacto">
                    Contáctanos para cotizar nuestros productos:
                </h2>
                <br>
                <div class="correo">
                    <%= image_tag "gmail.png", class: "iconomail", size: "30x30" %>
                    <%= link_to "abrahampizarroc@gmail.com", "mailto:abrahampizarroc@gmail.com" %>
                    <%= link_to "+56 9 53722060", "tel:+56953722060", class: "telefono-enlace" %>
                </div>
                
                <div class="redes">
                    <h2> SIGUENOS EN REDES SOCIALES</h2>
                    <%= image_tag "facebook", class: "face", size: '30x30' %>
                    <%= link_to "Face", "https://www.facebook.com/Anny74", class: "icono" %> 
                    <%= image_tag "instagram", class: "insta", size: "30x30" %>
                    <%= link_to "Insta", "https://www.instagram.com/tu_pagina", class: "icono" %>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
